body {
  font-family: Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  border: 5px solid #06380a;
  background-color: rgb(0, 0, 0);
  padding: 30px;
  margin: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 100px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #000;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 26px;
  border: 3px solid #033d08;
}

.blog-p {
  padding-right: 15px;
  font-size: 16px;
  width: 120px;
}

.flex-container {
  display: flex;
}

.box1,
.box2,
.box3 {
  flex: 1;
}

.aboutMeList {
  font-family: monospace;
}

footer {
  font-size: 10px;
  font-family: Verdana;
}

.questionsList {
  font-family: monospace;
}

.card {
  background-color: wheat;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 300px;
  gap: 15px;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.intro {
  border: 5px solid #04360f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.blog-posts {
  font-family: 'Helvetica', sans-serif;
  padding: 25px;
  margin: 25px;
}

#about-me {
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  background-color: #000;
  padding: 15px;
}

.container {
  display: flex;
  padding: 25px;
  margin: 25px;
}

#books {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: right;
  border-radius: 50%;
}

.box {
  margin: auto;
  flex-wrap: wrap;
  background-color: wheat;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  height: 200px;
  gap: 15px;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
