body {
  font-family: Verdana, monospace;
  color: rgb(255, 255, 255);
  border: 5px solid #087311;
  background-color: rgb(0, 0, 0);
  padding: 40px;
  margin: 40px;
}

.intro {
  border: 5px solid rgb(3, 102, 26);
}

.about-me {
  font-family: Verdana, monospace;
  border: 5px solid #087311;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 25px;
  margin: 25px;
}

#frog {
  max-width: 150px;
  padding: auto;
  height: auto;
  margin: auto;
}

#books {
  max-width: 150px;
  padding: auto;
  height: auto;
  margin: auto;
}

#boat {
  height: auto;
  margin: auto;
  padding: auto;
  max-width: 150px;
}

.blog-posts {
  font-family: Verdana, monospace;
  padding: 25px;
  margin: 25px;
}

#box {
  flex: 1;
  width: auto;
  height: auto;
  margin: auto;
  display: inline-block;
}

.container {
  display: flex;
  padding: 25px;
}

.box-of-blogs {
  border: 5px solid #087311;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 25px;
  margin: 25px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
